:root {
  --font-color: #fffff0;
  --background-color1: #fffff0;
  --background-color2: #fffff0;
  --background-color3: #fffff0;
  --background-color4: #fffff0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "KangXiZiDian", "Sedan SC", serif;
  font-weight: normal;
  font-style: normal;
  border: none;
}

@font-face {
  font-family: "KangXiZiDian";
  src: url("fonts/KX_47043_15.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 12px;
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */

  background-repeat: repeat;
  background-size: auto;
  background-blend-mode: multiply;
  background: url("assets/wall.jpg"), var(--background-color1);
  /* linear-gradient(
      to right,
      var(--background-color1) 25%,
      var(--background-color2) 50%,
      var(--background-color3) 75%,
      var(--background-color4) 100%
    ); */
  /* transition: background 1s ease; */
}

p {
  color: var(--font-color);
}

.header {
  margin-top: 10rem;
  font-size: 7rem;
  position: sticky;
  top: 10rem;
}

main {
  width: 150rem;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.seasons-wrapper,
.months-wrapper,
.solar-terms-wrapper,
.cards-wrapper,
.color,
.info,
.rgb-rings,
.info-name,
.rgb,
.color-value,
.color-des {
  display: flex;
  flex-direction: column;
}

.season,
.month,
.solar-term,
.card,
.colors-wrapper,
.info-wrapper,
.rgb-wrapper,
.info,
.cmyk-wrapper,
.descriptions-wrapper,
.color-des-wrapper {
  display: flex;
}

.color-des-pinyin {
  margin-top: 1rem;
  align-self: flex-end;
}

.color-brick {
  display: grid;
  height: 10rem;
  width: 10rem;
  background-color: black;
}

.color-value {
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.color-des {
  align-items: center;
}

.color-value-hex {
  font-size: 1.5rem;
  align-self: flex-end;
  position: relative;
  top: -1rem;
  cursor: pointer;
}

.descriptions-wrapper {
  height: 80rem;
  font-size: 1.5rem;
  position: sticky;
  top: 5rem;
  gap: 1rem;
}

.card {
  height: 20rem;
}

.color {
  width: 15rem;
  cursor: pointer;
}

.rgb-wrapper {
  gap: 0.5rem;
}

.rgb {
  width: 2rem;
}

.cmyk-wrapper {
  margin: 0.3rem;
  justify-content: flex-end;
  position: relative;
  top: -1.5rem;
}

.cmyk-bar-opaque {
  height: 10rem;
  width: 1px;
  background-color: var(--font-color);
  opacity: 0.3;
}

.cmyk-bar-solid {
  width: 1px;
  background-color: var(--font-color);
  position: relative;
  left: -1px;
}

.cmyk-bar-transparent {
  width: 1px;
  opacity: 0;
}

.info-wrapper {
  margin: 0.5rem 0px 0px;
  position: relative;
}

.line-vertical {
  width: 1px;
  background-color: var(--font-color);
  margin: 0px 0.5rem 2rem;
}

.line-horizontal {
  height: 1px;
  background-color: var(--font-color);
  width: 3rem;
}

.line-horizontal-color {
  height: 4rem;
  width: 4rem;
}

.text-vertical {
  writing-mode: vertical-lr;
}

.color-block {
  height: 1rem;
  width: 15rem;
}

.solar-term-des-name {
  font-size: 7rem;
  margin: 16rem 5rem 0 10rem;
}

.color-value-name {
  font-size: 1rem;
  position: relative;
  bottom: -0.5rem;
  align-self: flex-start;
}

.color-value-value {
  font-size: 2rem;
}

.color-des-name {
  font-size: 3rem;
  height: 13rem;
  width: 4rem;
}

.season-name {
  font-size: 5rem;
}

.month-name {
  font-size: 4rem;
}

.solar-term-name {
  font-size: 3rem;
}

.card-name {
  font-size: 2rem;
}

.color-name {
  font-size: 2rem;
}

.hex-value {
  font-size: 1rem;
}

.rgb-value {
  font-size: 1rem;
  margin: 0.1rem;
}

.cmyk-value {
  font-size: 1rem;
  position: relative;
  right: -0.2rem;
}

.rgb-ring-opaque {
  height: 2rem;
  width: 2rem;
  opacity: 0.3;
  fill: var(--font-color);
}

.rgb-ring-solid {
  height: 2rem;
  width: 2rem;
  position: relative;
  top: -2rem;
  fill: var(--font-color);
}

.pinyin {
  margin: 0.3rem 0.5rem 0 0;
  font-size: 1rem;
}

.index {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
}

.color * {
  transition: all 0.3s ease;
}

/* @media (max-width: 1200px) {
  .descriptions-wrapper {
    display: none;
  }
  html {
    font-size: 1.1vw;
  }
} */
